---
layout: splash
title: Never trust, Always verify
excerpt: The rapid changing world has made remote work more prevalent, enabling individuals to work from anywhere and at any time. However, it has also made sensitive data more vulnerable to external threats and intruders. To mitigate these risks, a Zero Trust approach to security is necessary to ensure that all users and devices are verified before accessing systems and sensitive data.  
header:
  overlay_image: /assets/images/earth.png
  overlay_filter: 0.7 # same as adding an opacity of 0.5 to a black background
  image_description: "Zero Trust"
intro:
  - excerpt: "*Here on this site, you'll find information about the Zero Trust security model. Through an example of a [fictional company](/smartmoney), I'll guide you through the implementation of Zero Trust within Microsoft Azure.*"
feature_row_zero_trust:
- image_path: /assets/images/verify-explictly.png
  alt: "placeholder image 1"
  title: "Verify explicitly"
  excerpt: "Verify every identity, regardless of whether the request comes from inside or outside the network. "
- image_path: /assets/images/least-privilege.png
  alt: "placeholder image 2"
  title: "Use least privilege access"
  excerpt: "Use Identity Access Management (IAM) to assign an identity only the minimal access rights required to complete an operation."
- image_path: /assets/images/assume-breach.png
  title: "Assume breach"
  excerpt: "Assume that there are malicious actors on the network/ infrastructure and take steps to protect resources accordingly."
feature_row_breaches:
  - image_path: /assets/images/solarwinds.jpg
    alt: "placeholder image 1"
    excerpt: "The SolarWinds hack was a major supply chain attack discovered in December 2020. Hackers **inserted malicious code** into a software update, giving them access to the networks of SolarWinds customers, including government agencies and Fortune 500 companies. The attack was highly sophisticated and is believed to have been carried out by a state-sponsored group."
  - image_path: /assets/images/marriot.png
    alt: "placeholder image 2"
    excerpt: "Marriott International experienced a data breach in 2018 that compromised the personal information of around **500 million guests**. The breach occurred in the Starwood guest reservation database and included names, addresses, phone numbers, email addresses, passport numbers, and credit card information. The breach started in 2014 and continued until September 2018."
  - image_path: /assets/images/ashley-madison.jpg
    excerpt: "The Ashley Madison breach in 2015 exposed personal information of millions of users seeking extramarital affairs, causing embarrassment and highlighting the risks of storing **sensitive information** online. It sparked discussions about privacy and the ethics of online dating services."
feature_row_smart_money:
  - image_path: /assets/images/onefinance.jpg
    alt: "OneFinance"
    excerpt: "This website provides guidance on implementing the Zero Trust principles while utilizing Microsoft Azure. In order to illustrate best practices, I'll be using the example of OneFinance, a <u>fictional company</u> that provides financial services to its customers. Customers entrust their accounting records to OneFinance. These records are managed by OneFinance's employees in the SmartMoney application. Based on this data, they offer customers insights and advice for achieving financial independence."
    url: "/smartmoney"
    btn_label: "Read More"
    btn_class: "btn--info btn--small"
feature_row_articles:
  - image_path: /assets/images/blog-app-proxy.jpg
    title: Access internal applications with Microsoft Entra Application Proxy
    excerpt: "Application Proxy allows us to provide secure remote access to internal applications without the need to open inbound ports in the corporate firewall."
    url: "/infrastructure/2023/10/02/access-internal-applications-with-application-proxy.html"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/blog-privatelink-banner.jpg
    title: Secure Azure PaaS services with Azure Private Link
    excerpt: "By using Private Link, we can securely connect to PaaS services from a VNET without exposing the service to the public internet."
    url: "/infrastructure/2023/08/28/secure-paas-services-with-private-endpoint.html"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/blog-network-topology-banner.jpg
    title: Centralize management with the hub-spoke network topology
    excerpt: "The hub-spoke network topology is the foundation of a secure cloud infrastructure. It offers centralized management, cost-effective, scalability and security."
    url: "/infrastructure/2023/08/28/hub-spoke-network-topology.html"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

<h2 class="text-center no-border-bottom">Zero Trust</h2>
<p>Zero Trust is a security model based on the "Never trust, Always verify" principle. This means that all users, devices, and applications must be verified before granted access. Zero Trust is not a product that can be purchased but a security strategy. Products like Azure can be utilized to follow the Zero Trust principles.</p>

{% include feature_row id="feature_row_zero_trust" buttonurl="/zero-trust/2023/06/26/zerotrust.html" buttontext="Read More" buttonclass="btn--info btn--small text-center" %}

<h2 class="text-center no-border-bottom">Breaches</h2>
<p>Data breaches and hacks can cause severe financial losses, damage to reputation, and legal liabilities for companies. Individuals can experience identity theft, financial losses, and damage to credit scores. It can also cause emotional distress and a loss of trust in companies that handle personal information. Some examples of data breaches below.</p>

{% include feature_row id="feature_row_breaches" %}

<h2 class="text-center no-border-bottom">Frequently Asked Questions</h2>
<strong>What is the goal of this site?</strong>
<p>This site guides you in implementing Zero Trust within Microsoft Azure using a fictional company/application as an example.</p>

<strong>For who is this site?</strong>
<p>This site is designed for engineers who want to deepen their understanding of Zero Trust and learn how to leverage Microsoft Azure for Zero Trust implementation. It primarily focuses on infrastructure-related topics, with potential future expansions to developer-oriented subjects.</p>

<strong>Why did I create this site?</strong>
<p>As security risks increase, it is essential to understand how to mitigate these risks. As a cloud consultant, I get asked about security a lot. I created this site to share my knowledge and experience with Zero Trust and Microsoft Azure.</p>

<strong>What is OneFinance?</strong>
<p>OneFinance is a fictional company made up for the purpose of this site. Read more about OneFinance <a href="/smartmoney">here</a>.</p>

<strong>What is SmartMoney?</strong>
<p>SmartMoney, developed by OneFinance, is an application designed for customer accounting record management. This site will walk you through implementing Zero Trust in Microsoft Azure for the SmartMoney application. Read more about SmartMoney <a href="/smartmoney">here</a>.</p>

<strong>How is the site structured?</strong>
<p>
  Start with reading about the <a href="/zero-trust/2023/06/26/zerotrust.html">Zero Trust security model</a>. Continue with the introduction of the fictional company <a href="/smartmoney">OneFinance and their SmartMoney application</a>.
  In each <a href="/articles">article</a>, I create a new part of SmartMoney's new architecture, following the Zero Trust principles.
</p>

<h2 class="text-center no-border-bottom">The fictional company: OneFinance</h2>
{% include feature_row id="feature_row_smart_money" type="left" %}

<h2 class="text-center no-border-bottom">Latest articles</h2>

{% include feature_row id="feature_row_articles" %}

