---
layout: splash
title: Don't trust, Always verify
excerpt: The rapid changing world has made remote work more prevalent, enabling individuals to work from anywhere and at any time, but it has also made sensitive data more vulnerable to external threats and intruders. To mitigate these risks, a zero trust approach to security is necessary to ensure that all users and devices are verified before accessing sensitive data.  
header:
  overlay_image: /assets/images/earth.png
  overlay_filter: 0.7 # same as adding an opacity of 0.5 to a black background
  image_description: "Zero Trust"
intro:
  - excerpt: "*Here on this site, you'll find information on the Zero Trust security model. Through a [fictional company](/smartmoney), I'll guide you through the implementation of Zero Trust as a means of safeguarding both your infrastructure and sensitive data. <br />Patrick van Kleef*"
feature_row_zero_trust:
- image_path: /assets/images/verify-explictly.png
  alt: "placeholder image 1"
  title: "Verify explicitly"
  excerpt: "Verify every identity, regardless of whether the request comes from inside or outside the network. "
- image_path: /assets/images/least-privilege.png
  alt: "placeholder image 2"
  title: "Use least privilege access"
  excerpt: "Use Identity Access Management (IAM) to assign an identity only the minimal access rights required to complete an operation."
  url: "{% post_url 2023-05-06-zerotrust-basics %}"
  btn_label: "Read More"
  btn_class: "btn--info btn--small text-center"
- image_path: /assets/images/assume-breach.png
  title: "Assume breach"
  excerpt: "Assume that there are malicious actors on the network/ infrastructure and take steps to protect resources accordingly."
feature_row_breaches:
  - image_path: /assets/images/solarwinds.jpg
    alt: "placeholder image 1"
    excerpt: "The SolarWinds hack was a major cyberattack discovered in December 2020. Hackers inserted malicious code into a software update, giving them access to the networks of SolarWinds customers, including government agencies and Fortune 500 companies. The attack was highly sophisticated and is believed to have been carried out by a state-sponsored group"
  - image_path: /assets/images/marriot.png
    alt: "placeholder image 2"
    excerpt: "Marriott International experienced a data breach in 2018 that compromised the personal information of around 500 million guests. The breach occurred in the Starwood guest reservation database and included names, addresses, phone numbers, email addresses, passport numbers, and credit card information. The breach started in 2014 and continued until September 2018."
  - image_path: /assets/images/ashley-madison.jpg
    excerpt: "The Ashley Madison breach in 2015 exposed personal information of millions of users seeking extramarital affairs, causing embarrassment and highlighting the risks of storing sensitive information online. It sparked discussions about privacy and the ethics of online dating services."
feature_row_smart_money:
  - image_path: /assets/images/onefinance.jpg
    alt: "OneFinance"
    title: "OneFinance | SmartMoney"
    excerpt: 'SmartMoney is an application developed by the <u>fictional</u> company OneFinance, which manages financial data for thousands of customers. SmartMoney helps customers gain insight into their personal finances and provides advice on becoming financially independent. '
    url: "/smartmoney"
    btn_label: "Read More"
    btn_class: "btn--info btn--small"
---

{% include feature_row id="intro" type="center" %}

<h2 class="text-center">Zero Trust</h2>
Zero Trust is a security model based on the "never trust, always verify" principle. This means that all users, devices, and applications must be verified before they are granted access to the network. Zero Trust is not a product that can be purchased but rather a strategy for securing solutions. However, some products, such as Azure, can be used to implement Zero Trust. 

{% include feature_row id="feature_row_zero_trust" %}

<h2 class="text-center">Breaches</h2>
Data breaches and hacks can cause severe financial losses, damage to reputation, and legal liabilities for companies. Individuals can experience identity theft, financial losses, and damage to credit scores. It can also cause emotional distress and a loss of trust in companies that handle personal information. Some examples of data breaches below.

{% include feature_row id="feature_row_breaches" %}

{% include feature_row id="feature_row_smart_money" type="right" %}

